source_env .config/direnvrc
ensure_all_documented
save_defined

# APP_DOMAIN: the application's domain name
export APP_DOMAIN=
# CONTAINER: the name of the container to be used via Dokku (e.g. docker.io/vaultwarden/server:latest)
export CONTAINER=
# DOKKU_APP: the name of the Dokku app
export DOKKU_APP=
# DOKKU_HOST: the Dokku server address
export DOKKU_HOST=
# DOMAIN_EMAIL: the email to use with letsencrypt
export DOMAIN_EMAIL=
# SMTP_HOST: the SMTP server host
export SMTP_HOST=
# SMTP_FROM: the email address to use in the From field
export SMTP_FROM=
# SMTP_PORT: the SMTP server port
export SMTP_PORT=
# SMTP_SECURITY: the SMTP security type (starttls|ssl|none)
export SMTP_SECURITY=
# SMTP_USERNAME: the SMTP server username
export SMTP_USERNAME=
# SMTP_PASSWORD: the SMTP server password
export SMTP_PASSWORD=
# VAULTWARDEN_ADMIN_TOKEN: the admin token for Vaultwarden
export VAULTWARDEN_ADMIN_TOKEN=

source_env .envrc.private
fail_on_unknown
ensure_all_set
