export APP_DOMAIN=
export DOCKER_IMAGE=
export DOKKU_APP=
export DOKKU_HOST=
export DOMAIN_EMAIL=
export SMTP_HOST=
export SMTP_FROM=
export SMTP_PORT=
export SMTP_SECURITY=
export SMTP_USERNAME=
export SMTP_PASSWORD=
export VAULTWARDEN_ADMIN_TOKEN=

[[ -f .envrc.private ]] && source_env .envrc.private
