source_env .config/direnvrc
save_known

# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=prometheus
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# PROMETHEUS_CONTAINER: the name of the container to be used via Dokku
export PROMETHEUS_CONTAINER=quay.io/prometheus/prometheus
# PROMETHEUS_VERSION: the version of Prometheus to be used via Dokku
export PROMETHEUS_VERSION=latest

source_env .envrc.private
fail_on_unknown
ensure_all_set
ensure_all_documented

