source_env .config/direnvrc
ensure_all_documented
save_defined

# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# CONTAINER: the name of the container to be used via Dokku (e.g. docker.io/darthsim/imgproxy:v3.29)
export CONTAINER=docker.io/darthsim/imgproxy:latest
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# DOKKU_IMGPROXY_PATH_PREFIX: (optional) an URL prefix to insert before the rest of the imgproxy path
export DOKKU_IMGPROXY_PATH_PREFIX=
# DOKKU_IMGPROXY_LOCAL_FILESYSTEM_ROOT: the container path to the root directory of the images to be served
export DOKKU_IMGPROXY_LOCAL_FILESYSTEM_ROOT=/images
# DOMAIN_EMAIL: the email to be passed to Letsencrypt when requesting a certificate
export DOMAIN_EMAIL=
# HOST_FILESYSTEM_ROOT: (optional) the host path to the root directory of the images to be served
export HOST_FILESYSTEM_ROOT=
# IMGPROXY_KEY: (optional) the key to use with the image proxy
export IMGPROXY_KEY=
# IMGPROXY_LOCAL_BASE_URL: the base URL to use for local images
export IMGPROXY_LOCAL_BASE_URL=http://localhost:8080
# IMGPROXY_LOCAL_FILESYSTEM_ROOT: the container path to the root directory of the images to be served
export IMGPROXY_LOCAL_FILESYSTEM_ROOT=/images
# IMGPROXY_SALT: (optional) the salt to use with the image proxy
export IMGPROXY_SALT=
# REMOTE_HOST_FILESYSTEM_ROOT: the host path to the root directory of the images to be served
export REMOTE_HOST_FILESYSTEM_ROOT=

source_env .envrc.private
fail_on_unknown

ensure_all_set
