source_env ../.config/direnvrc
save_known

# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# CONTAINER: the name of the container to be used via Dokku
export CONTAINER=
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# DOMAIN_EMAIL: the email to be passed to Letsencrypt when requesting a certificate
export DOMAIN_EMAIL=
# MAIL_FROM_ADDRESS: the email address to be used as the sender in emails sent by Nextcloud
export MAIL_FROM_ADDRESS=
# MAIL_DOMAIN: the domain to be used in the email address of the sender in emails sent by Nextcloud
export MAIL_DOMAIN=
# MAIL_SMTPSECURE: the encryption method to be used when sending emails via SMTP (e.g. "tls" or "ssl")
export MAIL_SMTPSECURE=
# MAIL_SMTPAUTHTYPE: the authentication method to be used when sending emails via SMTP (e.g. "login" or "plain")
export MAIL_SMTPAUTHTYPE=
# MAIL_SMTPHOST: the hostname of the SMTP server to be used when sending emails via SMTP
export MAIL_SMTPHOST=
# MAIL_SMTPPORT: the port of the SMTP server to be used when sending emails via SMTP
export MAIL_SMTPPORT=
# MAIL_SMTPNAME: the username to be used when authenticating with the SMTP server when sending emails via SMTP
export MAIL_SMTPNAME=
# MAIL_SMTPPASSWORD: the password to be used when authenticating with the SMTP server when sending emails via SMTP
export MAIL_SMTPPASSWORD=
# NEXTCLOUD_PASSWORD_SALT: the salt used by Nextcloud for hashing passwords
export NEXTCLOUD_PASSWORD_SALT=
# NEXTCLOUD_POSTGRES_USER: the unprivileged Postgres user that owns the Nextcloud database
export NEXTCLOUD_POSTGRES_USER=
# NEXTCLOUD_POSTGRES_PASSWORD: the password for the unprivileged Postgres user
export NEXTCLOUD_POSTGRES_PASSWORD=
# NEXTCLOUD_SECRET: the secret used by Nextcloud for encryption
export NEXTCLOUD_SECRET=
# POSTGRES_IMAGE: the Postgres image to use
export POSTGRES_IMAGE=

source_env .envrc.private
fail_on_unknown
ensure_all_set
ensure_all_documented
