source_env ../.config/direnvrc
save_known

# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# CONTAINER: the name of the container to be used via Dokku
export CONTAINER=
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# DOMAIN_EMAIL: the email to be passed to Letsencrypt when requesting a certificate
export DOMAIN_EMAIL=
# POSTGRES_IMAGE: the Postgres image to use
export POSTGRES_IMAGE=

source_env .envrc.private
fail_on_unknown
ensure_all_set
ensure_all_documented
