source_env .config/direnvrc
save_known

# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# CONTAINER: the name of the container to be used via Dokku
export CONTAINER=ghcr.io/immich-app/immich-server:$IMMICH_VERSION
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# DOMAIN_EMAIL: the email to be passed to Letsencrypt when requesting a certificate
export DOMAIN_EMAIL=
# IMMICH_VERSION: the Immich version to use (choose from here: https://github.com/immich-app/immich/tags)
export IMMICH_VERSION=v2
# POSTGRES_IMAGE: the Postgres image to use
export POSTGRES_IMAGE=ghcr.io/immich-app/postgres
# POSTGRES_IMAGE_VERSION: the version of the Postgres image to use
export POSTGRES_IMAGE_VERSION=14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
# REDIS_IMAGE: the Redis image to use
export REDIS_IMAGE=docker.io/valkey/valkey
# REDIS_IMAGE_VERSION: the version of the Redis image to use
export REDIS_IMAGE_VERSION=9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63

source_env .envrc.private
fail_on_unknown
ensure_all_set
ensure_all_documented
