source_env ../.config/direnvrc
save_known

# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# APP_PORT: the port where the app is to be made available
export APP_PORT=8000
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=autodiscover-email-settings
# DOKKU_HOST: the host where the app is to be deployed via Dokku
export DOKKU_HOST=
# DOMAIN_EMAIL: the email to be passed to Letsencrypt when requesting a certificate
export DOMAIN_EMAIL=
# CONTAINER: the name of the container to be used via Dokku
export CONTAINER=docker.io/monogramm/autodiscover-email-settings
# CONTAINER_VERSION: the version of the container to be used via Dokku
export CONTAINER_VERSION=latest

# COMPANY_NAME: the name of the company to be used in the email templates
export COMPANY_NAME=
# DOMAIN: the root ("apex") domain to be used in the email templates
export DOMAIN=
# IMAP_HOST: the host of the IMAP server to be used in the email templates
export IMAP_HOST=
# IMAP_PORT: the port of the IMAP server to be used in the email templates
export IMAP_PORT=
# IMAP_SOCKET: the socket of the IMAP server to be used in the email templates (e.g. "SSL" or "STARTTLS")
export IMAP_SOCKET=
# SMTP_HOST: the host of the SMTP server to be used in the email templates
export SMTP_HOST=
# SMTP_PORT: the port of the SMTP server to be used in the email templates
export SMTP_PORT=
# SMTP_SOCKET: the socket of the SMTP server to be used in the email templates (e.g. "SSL" or "STARTTLS")
export SMTP_SOCKET=

source_env .envrc.private
fail_on_unknown
ensure_all_set
ensure_all_documented

