# APP_DOMAIN: the Internet address where the app is published
export APP_DOMAIN=
# DOCKER_IMAGE: a Docker Hub image reference or an URL to an image on any othr repository
#   The latest version can be found here:
#   https://github.com/livebook-dev/livebook/pkgs/container/livebook/versions?filters%5Bversion_type%5D=tagged
export DOCKER_IMAGE=
# DOKKU_APP: The Dokku app name
export DOKKU_APP=
# DOKKU_HOST: The hostname or IP address of the server running Dokku
export DOKKU_HOST=
# DOMAIN_EMAIL: The email address to use when requesting a LetsEncrypt certificate
export DOMAIN_EMAIL=
# LIVEBOOK_PASSWORD: the password to use for authentication with the Livebook app
export LIVEBOOK_PASSWORD=

source_env_if_exists .envrc.private
